body{
    font-family: 'Ubuntu', sans-serif;
}
.pitem img{
    width: 86%;
}
.pitem a {
    cursor: pointer;
    border-radius: 5em;
    color: #373030;
    background: linear-gradient(to right, #2ea3f2,#F0F6F7FF);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-decoration: none;
}
.pitem p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
}
section{
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.center{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.content {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    position: relative;
    left: 5%;
    margin-top: 3%;
    max-height: 80vh;
}

.left-side {
    position: relative;
    flex-shrink: 0;
    margin-left: 16%;
}

.left-side>h1 {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}

.forma {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.left-side>* {
    margin: 5px 20px;
}

.right-side {
    flex-grow: 4;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.right-side>.form-group:nth-child(2n) {
    margin-right: 20px;
}

#titulli-new {
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
}

footer {
    text-align: center;
}

.left-side label {
    margin-top: 10px;
}

textarea {
    min-height: 300px;
}

#submit-btn {
    background-color: green;
}

.buttons {
    margin-top: 20px;
    display: flex;
    position: relative;
    width: 60%;
    left: 15%;
    justify-content: space-between;
}

.btn {
    min-width: 100px;
    border: none;
    border-radius: 10px;
    width: auto;
    height: 30px;
    background-color: red;
}

.form-group {
    position: relative;
    min-height: 50%;
    height: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 27px;
    max-height: 50%px;
    width: 300px;
    text-align: center;
    border: 1px solid black;
    margin-left: 20px;
}

.foto-lajmi {
    min-width: 60px;
    min-height: 60px;
    width: 70px;
    height: 70px;
    margin-top: 2px;
    position: relative;
    left: 115px;
}

.form-group p {
    width: 100%;
    height: 60%;
    overflow-wrap: anywhere;
}

.form-group>h3 {
    position: relative;
    max-width: 95%;
    display: inline-block;
    position: relative;
    max-width: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    height: auto;
}

h6 {
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 1199px){

    #sectioni{
        flex-direction: column;
    }
    .pitem{
        margin-bottom: 50px;
    }
    .content{
        display: block;
        left: 0;
        text-align: center;
    }
    .left-side{
        margin-left: 0;
    }
    .form-group{
        margin: 0 auto;
        margin-top: 20px!important;
    }
}
}
@media only screen and (min-width: 1200px) and (max-width: 1679px){
    #sectioni{
        flex-direction: column;
    }
}