body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #73787e;
    background-color: #f9f8f6;
    margin: 0;padding: 0;
    
}
.container{
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
}
/**======= Header Part=======*/
.titujt{
	width: 100%;
	text-align: center;
}
.header{
    height: 100px;
    border: 1px solid #444;
}
#slogan{
    float: left;
    width: 25%;
    padding-left: 3px;
}
#slogan h2{
    margin-top: 20px;
}
#slogan p{
    margin-top: 10px;
}
#nav-bar{
    float: left;
    width: 74%;
    margin-top: 39px;
}
#nav-bar ul{
    list-style-type: none;
    width: 100%;
    background-color: #444;
    height: 45px;
    padding-left: 10px!important;
}
#nav-bar ul li{
    display: inline;
}
#nav-bar ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    border-right: 1px solid #fff;
    padding: 15px 40px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
#nav-bar ul li:last-child a{
    border-right: none;
}
#nav-bar ul li a:hover{
    background-color: #222;
}
/**======= End of Header Part=======*/

/**======= Page Content=======*/


#members{
    margin-top: 20px;
    margin-left: 2px;
    width: 80%;
    empty-cells: show;
    border-spacing: 2px 4px;
    border-collapse: separate;
    margin: 0 auto;
    margin-bottom: 100px;
}
#members td, #members th 
{
    font-size:1em;
    border:1px solid #333; 
    padding:5px 9px 4px 5px;
}
#members th ,#members th a
{
    font-size:1.1em;
    text-align:left;
    padding-top:8px;
    padding-bottom:6px;
    background-color:#333;
    color:#ffffff;
}
#members tr.alt td 
{color:#fff;background-color:#888;}


/**======= End of Page Content=======*/

/**======= Page Sidebar=======*/
#sidebar{
    float: right;
    width: 26%;
    border: 1px solid #444;
    height: 1050px;
}
#login,#register{
    float: left;
    margin: 15px 10px;
    width: 95%;
}
#login legend{
    width: 90%;
    margin-bottom: 10px;
}
#login input[type="email"],#login input[type="password"],#login input[type="submit"],#login input[type="number"],#login label,
#register input[type="email"],#register  input[type="text"],#register select,#register textarea ,#register  input[type="date"],#register  input[type="number"] ,#register input[type="password"],#register input[type="submit"],#register label{
    height:35px;
    width: 100%;
    border-radius:10px;
    padding-left:5px;
    border:1px solid gray;
}

#login label,#register label{
    border: none;
    margin-top:10px;
}
#login input[type="submit"],#register input[type="submit"]{
    float: right;
    width: 50%;
    color: #f9f8f6;
    margin-top: 20px;
    background-color: #333;
}
#register input[type="submit"]{
    width: 100%;
}
.pitem img{
    width: 30%;
}
@media only screen and (min-width: 240px) and (max-width: 575px){
    .titujt{
     margin-top: 50px;
}
    #members tr th:nth-child(3){
        display: none;
    }
    #members tr td:nth-child(3){
        display: none;
    }
    #members{
        width: 100%;
        margin: 0;
    }
    

}@media only screen and (min-width: 576px) and (max-width: 767px){
    .titujt{
        margin-top: 50px;
    }
}
/**======= End of Page Sidebar=======*/

/**======= Footer =======*/
